<header class="w-8/12 h-24 flex flex-grow bg-prim-light">

    <div class="p-1 ml-3 mt-2 h-4/5 flex flex-col items-center border-2 rounded-lg border-b-prim-dark-1">
        <h2 class="font-bold">Balanza</h2>
        <i-tabler name="scale-outline-off" class="iconsize text-danger"></i-tabler>
    </div>
    <h1 class="ml-3 mb-4 self-end font-black">Inicio</h1>

    <!-- User area -->
    <div class="w-3/12 bg-sec-light-1 flex justify-evenly items-center ">

        <!-- Notification -->
        <div class="w-10 h-10 relative">
            <div
                class="w-4 h-4 rounded-full bg-danger absolute right-[-1px] top-[-3px] flex justify-center items-center text-sec-light-2">
                1 </div>
            <i-tabler name="bell" class="iconsize"></i-tabler>
        </div>


        <p class="font-bold">Hola! Usuario</p>


        <!-- Icono y menu desplegable -->
        <div class="flex items-center">
            <i-tabler name="user-circle" class="iconbigsize midstroke"></i-tabler>
            <i-tabler name="chevron-down" class="iconsize "></i-tabler>
        </div>

    </div>

</header>