<div class=" flex justify-center h-screen w-screen bg-cover bg-center bg-prim-light-2"
    style="background-image: url(../../assets/bg-login.jpg)">
    <div class="max-w-[1400px] flex justify-center items-center">

        <div class="relative w-[1000px] h-[700px] rounded-2xl flex border-2 border-prim-dark-1">

            <!-- Left Side Login -->
            <div class="w-2/5 h-full bg-sec-light-2 rounded-l-2xl">

                <div class=" h-full flex flex-col items-center">

                    <!-- Upper Login sector -->
                    <div class="w-full h-1/2  flex flex-col p-4">
                        <div class="w-36 h-36 self-center">
                            <img src="../../assets/logo-blue.svg" alt="BarControl Logo">
                        </div>
                        <div class="h-36 flex flex-col justify-evenly items-center text-center">
                            <h1>Bienvenido a <span class="font-bold">Bar Control</span> .</h1>
                            <p class="mb-2"> El sistema de inventariado y control de costos de bebidas basado en peso.
                            </p>
                            <p class="px-1">Por favor <span class="font-bold">inicia sesión</span> para operar con el
                                sistema.</p>
                        </div>
                    </div>
                    <!-- Bottom Login sector -->

                    <div class="w-2/3 h-1/2 flex justify-center pb-4">

                        <form class="w-full flex flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                            autocomplete="disabled">



                            <div class="h-3/5 flex flex-col justify-evenly">
                                <div class="relative z-0 mb-3">
                                    <input type="text" id="email" formControlName="email" autocomplete="new-email"
                                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                        placeholder=" " />
                                    <label for="email"
                                        class="absolute text-sm border-b-prim-dark-1 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>

                                    <span *ngIf="isEmailNotValid" class="absolute text-sm font-bold text-danger">
                                        <!-- Muestra un mensaje de error o un tooltip aquí -->
                                        Debe ingresar un correo valido
                                    </span>
                                </div>

                                <div class="relative z-0 mb-4">
                                    <input type="password" id="password" formControlName="password"
                                        autocomplete="new-password"
                                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                        placeholder=" " />
                                    <label for="password"
                                        class="absolute text-sm border-b-prim-dark-1 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                                    <span *ngIf="isPasswordNotValid" class=" absolute text-sm font-bold text-danger">
                                        <!-- Muestra un mensaje de error o un tooltip aquí -->
                                        La contraseña debe tener 6 caracteres minimos.
                                    </span>
                                </div>
                            </div>


                            <app-button title="Iniciar Sesión" type="submit" class="mt-2"></app-button>


                        </form>

                    </div>
                </div>

            </div>

            <!-- Right Side Login -->
            <div class="w-3/5 h-full bg-sec-light-1 rounded-r-2xl flex justify-center">
                <div class="w-10/12 mt-6">
                    <app-carousel></app-carousel>
                </div>
            </div>
            <!-- <app-alert *ngIf="errorLogin" class="absolute bottom-0 w-2/5"></app-alert> -->

        </div>

    </div>

    <app-loader *ngIf="isLogin" msg="Iniciando sesion..."></app-loader>
</div>