<!-- <app-warning></app-warning> -->
<app-warning msg="Para comenzar registrar por favor conectar la balanza." *ngIf="!balanza"></app-warning>
<ng-container *ngIf="balanza">
    <div class="w-full h-full py-2 flex justify-center items-center">
        
        <div class=" w-2/3 h-2/3 
        lg:w-2/3
        lg:h-5/6
        border-2 rounded-xl border-[#ECECFC] mainshadow p-2 flex flex-col justify-evenly items-center">
        <ng-container *ngIf="scanActive" >
            <app-scanner 
            class="absolute 
            2xl:top-[37%] 2xl:right-[11.5%]
            xl:right-[5%]  
            lg:top-[42%] lg:right-[2%] 
            w-1/4"></app-scanner>
        </ng-container>

            <h1 class="font-black text-3xl">Registro de peso</h1>
            <div class="w-3/4 flex flex-col items-center text-sm font-bold">
                <p>Ingrese el codigo de barra del producto y comience a registar.</p>
                <p>Utilice la balanza inalámbrica y apoye la bebida para comenzar a registrar.</p>
            </div>

            <ng-container *ngIf="product == undefined">
                <app-search-product class="w-3/6 h-4/6  flex flex-col justify-evenly items-center "></app-search-product>
            </ng-container>


            <ng-container *ngIf="product !== undefined">

                <div class="w-3/4 h-3/5  flex justify-center items-center p-1">

                    <!-- Indicador de peso -->
                    <div class="w-1/2 h-full m-1 flex flex-col justify-around items-center ">
                        <app-gauge [valorIndicador]='peso'></app-gauge>
                        <h2 class="text-2xl font-bold">Peso: <span class="font-normal ml-5">{{peso | number: '1.2-2'}}
                                Grs.</span></h2>
                    </div>

                    <!-- Seleccion de bebida  - POSIBLE CAMBIO POR CODIGO DE BARRA -->
                    <div class="w-1/2 h-full   m-1 flex flex-col items-center justify-start">

                        <div class="w-6/12  p-2">
                            <img src="../../../assets/carrousel/img1.jpg" alt="" class="rounded-lg">
                        </div>
                        <div class="w-full flex justify-around text-sm px-6">
                            <div class="flex flex-col text-prim-dark-2 font-bold">
                                <p>Nombre:</p>
                                <p>Marca:</p>
                                <p>Tipo:</p>
                            </div>
                            <div class="flex flex-col">
                                <p>{{ product.name }}</p>
                                <p>{{ product.brand_id | brandPipe }}</p>
                                <p>{{ product.type }}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <button
                    class="w-36 h-10 rounded-xl bg-prim-dark-1 text-sm text-prim-light-2 shadow shadow-prim-dark-2 transition-all ease-in-out duration-100 hover:-translate-y-px hover:bg-prim-dark" (click)="onCreate()">
                    Registrar Peso
                </button>

            </ng-container>

        </div>
    </div>
</ng-container>