<!-- <app-warning></app-warning> -->
<app-warning msg="Para comenzar registrar por favor conectar la balanza." *ngIf="!balanza"></app-warning>
<ng-container *ngIf="balanza">
    <div class="w-full h-full py-2 flex justify-center items-center">


        <div class=" w-2/3 h-2/3 
                lg:w-2/3
                lg:h-5/6
    border-2 rounded-xl border-[#ECECFC] mainshadow p-2 flex flex-col justify-evenly items-center">
            <h1 class="font-black text-3xl">Registro de peso</h1>
            <div class="w-3/4 flex flex-col items-center text-sm font-bold">
                <p>Seleccione la bebida a registrar.</p>
                <p>Utilice la balanza inalámbrica y apoye la bebida para comenzar a registrar.</p>
            </div>
            <div class="w-3/4 h-3/5  flex justify-center items-center p-1">

                <!-- Indicador de peso -->
                <div class="w-1/2 h-full m-1 flex flex-col justify-around items-center ">
                    <app-gauge [valorIndicador]='peso'></app-gauge>
                    <h2 class="text-2xl font-bold">Peso: <span class="font-normal ml-5">{{peso}} Grs.</span></h2>
                </div>

                <!-- Seleccion de bebida  - POSIBLE CAMBIO POR CODIGO DE BARRA -->
                <div class="w-1/2 h-full   m-1 flex flex-col items-center justify-start">


                    <div class="relative inline-block text-left" (click)="toggleMenu()">
                        <div>
                            <button type="button"
                                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-prim-light-2 px-3 py-2 text-sm font-semibold text-prim-dark-1 shadow-sm ring-1 ring-inset ring-primary hover:bg-prim-light-1/30"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                Seleccione la bebida
                                <svg [class]="isMenuOpen ? '-mr-1 h-5 w-5 text-gray-400 transform rotate-180' : '-mr-1 h-5 w-5 text-gray-400'"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>

                        <div *ngIf="isMenuOpen"
                            class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-prim-light-2 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                            role="menu" aria-orientation="vertical" tabindex="-1">

                            <div class="py-1" role="none">
                                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-0">Edit</a>
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-1">Duplicate</a>
                            </div>
                            <div class="py-1" role="none">
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-2">Archive</a>
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-3">Move</a>
                            </div>
                            <div class="py-1" role="none">
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-4">Share</a>
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-5">Add to favorites</a>
                            </div>
                            <div class="py-1" role="none">
                                <a href="#" class="text-prim-dark-1 block px-4 py-2 text-sm hover:bg-prim-light-1/60" role="menuitem" tabindex="-1"
                                    id="menu-item-6">Delete</a>
                            </div>


                        </div>
                    </div>









                    <!-- <div class="relative inline-block text-left" (click)="toggleMenu()">
                        <div>
                            <button type="button"
                                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                id="menu-button" aria-expanded="true" aria-haspopup="true">
                                Seleccione la bebida
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div> -->

                        <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->

                    <!-- </div> -->




                    <!-- <div class="w-6/12  p-2">
                        <img src="../../../assets/carrousel/img1.jpg" alt="" class="rounded-lg">
                    </div>
                    <div class="w-full flex justify-around text-sm px-6">
                        <div class="flex flex-col text-prim-dark-2 font-bold">
                            <p>Nombre:</p>
                            <p>Marca:</p>
                            <p>Tipo:</p>
                        </div>
                        <div class="flex flex-col">
                            <p>Bacardi</p>
                            <p>Ron Blanco 1L</p>
                            <p>Bebida Base</p>
                        </div>
                    </div> -->

                </div>

            </div>

            <button
                class="w-36 h-10 rounded-xl bg-prim-dark-1 text-sm text-prim-light-2 shadow shadow-prim-dark-2 transition-all ease-in-out duration-100 hover:-translate-y-px hover:bg-prim-dark">
                Registrar Peso
            </button>

        </div>
    </div>
</ng-container>