<!-- <app-work-in-progress></app-work-in-progress> -->

<div class=" w-full h-full flex justify-center items-center">
    <div class="w-2/3 h-2/3 
                lg:w-2/3
                lg:h-5/6
                grid grid-cols-1 
                sm:grid-cols-2 gap-2
                border-2 rounded-xl border-[#ECECFC] mainshadow p-2 place-items-center">
        <app-option-card title="ABM Marcas" icon="asset" route="brand" ></app-option-card>
        <app-option-card title="ABM Usuarios" icon="user-circle" route="user" ></app-option-card>
        <app-option-card title="ABM Analiticas" icon="report-analytics" route="report"></app-option-card>
        <app-option-card title="ABM Productos" icon="bottle" route="product"></app-option-card>
    </div>
</div>