
<div class="w-full h-full 
            2xl:max-h-[950px]
            xl:max-h-[560px]
            lg:max-h-[600px]
            md:max-h-[550px]
            sm:max-h-[530px]  
            overflow-y-auto">
    <table class="table-auto w-full text-center">
        <thead>
            <tr class="bg-prim-light-1/25">
                <th class="py-2">Song</th>
                <th class="py-2">Artist</th>
                <th class="py-2">Year</th>
                <th class="py-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td class="py-2">Malcolm Lockyer</td>
                <td class="py-2">1961</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Witchy Woman</td>
                <td class="py-2">The Eagles</td>
                <td class="py-2">1972</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
            <tr class="border-b border-b-[#574FB4]/25">
                <td class="py-2">Shining Star</td>
                <td class="py-2">Earth, Wind, and Fire</td>
                <td class="py-2">1975</td>
                <td class="py-2 flex justify-evenly items-center">
                    <button class="w-9 h-9 rounded-full bg-prim-light flex justify-center items-center">
                        <i-tabler name="edit-circle" class="text-prim-light-2"></i-tabler>
                    </button>
                    <button class="w-9 h-9 rounded-full bg-danger flex justify-center items-center">
                        <i-tabler name="trash" class="text-prim-light-2"></i-tabler>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>