<!-- TODO:Verificar el contenedor para aplicar resposive -->
<div class="xl:container flex w-full">

    <!-- ASIDE NAVEGACION -->
    <aside class="w-2/12 h-screen bg-prim-dark-1 flex flex-col items-center">
        <div class="w-16 h-16
                    sm:w-20 sm:h-20
                    md:w-32 md:h-32
                    xl:w-36 xl:h-36     
                    mt-3 mb-10">
            <img src="../../assets/logo-white.svg" alt="">
        </div>
        
        <!-- navitems -->
        <nav class="w-full h-screen mb-5 px-5 flex justify-center">
            <ul class="max-w-[200px] text-prim-light-2 flex flex-col justify-center">
                <li class="mt-1 mb-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150" routerLinkActive="li-active">
                    <a routerLink="inicio" class="flex items-center justify-between" routerLinkActive="a-active">
                        <i-tabler name="home" class="iconsize thin" routerLinkActive="i-tabler-active"></i-tabler>
                        <p class="hidden md:text-sm md:w-7/12 md:block" routerLinkActive="p-active">Inicio</p>
                    </a>
                </li>
                <li class="mt-1 mb-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150" routerLinkActive="li-active">
                    <a routerLink="productos" class="flex items-center justify-between" routerLinkActive="a-active">
                        <i-tabler name="bottle" class="iconsize thin" routerLinkActive="i-tabler-active"></i-tabler>
                        <p class=" hidden md:table-caption md:text-sm md:w-7/12" routerLinkActive="p-active">ABM Productos</p>
                    </a>
                </li>
                <li class="mt-1 mb-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150" routerLinkActive="li-active">
                    <a routerLink="registro" class="flex items-center justify-between" routerLinkActive="a-active">
                        <i-tabler name="scale-outline" class="iconsize thin" routerLinkActive="i-tabler-active"></i-tabler>
                        <p class="hidden md:text-sm md:w-7/12 md:block" routerLinkActive="p-active">Registro</p>
                    </a>
                </li>
                <li class="mt-1 mb-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150" routerLinkActive="li-active">
                    <a routerLink="analiticas" class="flex items-center justify-between" routerLinkActive="a-active">
                        <i-tabler name="report-analytics" class="iconsize thin" routerLinkActive="i-tabler-active"></i-tabler>
                        <p class="hidden md:text-sm md:w-7/12 md:block" routerLinkActive="p-active">Analiticas</p>
                    </a>
                </li>
                <li class="mt-1 mb-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150" routerLinkActive="li-active">
                    <a routerLink="ajustes" class="flex items-center justify-between" routerLinkActive="a-active">
                        <i-tabler name="settings" class="iconsize thin" routerLinkActive="i-tabler-active"></i-tabler>
                        <p class="hidden md:text-sm md:w-7/12 md:block" routerLinkActive="p-active">Ajustes</p>
                    </a>
                </li>
                <li class="mt-auto transition ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-secondary duration-150 ">
                    <a class="flex items-center justify-between cursor-pointer" (click)="Logout()">
                        <i-tabler name="logout" class="iconsize thin"></i-tabler>
                        <p class="hidden md:text-sm md:w-7/12 md:block">Cerrar Sesión</p>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>

    <div class="w-full flex flex-col flex-1" >

        <header class="h-24 flex justify-center">
    
            <div class="p-2 ml-3 mt-2 h-4/5 flex flex-col justify-center items-center border-2 rounded-lg border-b-prim-dark-1">
                <h2 class="font-bold">Balanza</h2>

                <i-tabler *ngIf="scaleConected" name="scale-outline" class="iconsize text-secondary"></i-tabler>
                <i-tabler *ngIf="!scaleConected" name="scale-outline-off" class="iconsize text-danger"></i-tabler>
            </div>
    
            <h1 class="ml-3 mb-4 self-end font-black">{{ currentUrl | titlecase }}</h1>
        
        
            <!-- User area -->
            <div class="w-5/12 ml-auto flex justify-evenly items-center ">
        
                <button [routerLink]="['create', 'product' ]"  class="h-3/5 w-2/6 border-2 rounded-2xl border-none bg-secondary text-prim-dark-2 shadow-sm shadow-prim-dark-2 font-bold transition-all ease-in-out duration-100  hover:-translate-y-1"
                [ngClass]="{ 'invisible': !productBtn }"
                
                >
                <!-- (click)="scaleChangeStatus()" -->
                    Crear Producto
                </button>

                <!-- Notification -->
                <div class="w-10 h-10 relative">
                    <div
                        class="w-4 h-4 rounded-full bg-danger absolute right-1 top-[-3px] flex justify-center items-center text-sec-light-2 text-xs">
                        1 </div>
                    <i-tabler name="bell" class="iconsize thin"></i-tabler>
                </div>
        
        
                <p class="font-bold">Hola! {{ username | titlecase}}</p>
        
        
                <!-- Icono y menu desplegable -->
                <div class="flex items-center">
                    <i-tabler name="user-circle" class="iconbigsize midstroke"></i-tabler>
                    <i-tabler name="chevron-down" class="iconsize "></i-tabler>
                </div>
        
            </div>
        
        </header>

        <main class="w-99% h-full m-2 border-2 rounded-xl border-[#ECECFC] mainshadow p-2">
            
            <router-outlet></router-outlet>
    
        </main>
    </div>

</div>